* {
  box-sizing: border-box;
}

html {
  min-width: 320px;
  background: #fbfdff;
}

body {
  margin: 0;
}

button,
textarea,
input {
  font: inherit;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}
